<mat-expansion-panel expanded="true" *ngIf="cube && (cube.cards | filterRarity : rarityKey).length">
    <mat-expansion-panel-header>
        <mat-panel-title>
            {{rarityLabel}} Rarity
        </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="row flex-row">
        <div *ngFor="let card of (cube.cards | filterRarity : rarityKey)"
             class="col-6 col-md-4 col-lg-3 col-xl-2 col-xxl-2 mb-4">
            <div *ngIf="card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img [src]="card.id | cardImageUrl" class="img-fluid" style="width: 100%"/>
                    <span (click)="openModal(card)" style="cursor: pointer">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </span>
                </div>
            </div>
        </div>
    </div>
</mat-expansion-panel>
