<form class="ng-untouched ng-pristine ng-valid ng-star-inserted"
      data-bitwarden-watching="1"
      novalidate="">
    <div class="text-center mb-3">
        <p>Sign up with:</p>
        <button class="btn btn-primary btn-floating mx-1"
                type="button"><i
            class="fab fa-facebook-f"></i>
        </button>
        <button class="btn btn-primary btn-floating mx-1"
                type="button"><i
            class="fab fa-google"></i>
        </button>
        <button class="btn btn-primary btn-floating mx-1"
                type="button"><i
            class="fab fa-twitter"></i>
        </button>
        <button class="btn btn-primary btn-floating mx-1"
                type="button"><i
            class="fab fa-github"></i>
        </button>
    </div>
    <p class="text-center">or:</p>
    <mdb-form-control class="mb-4 form-outline">
        <input class="form-control" id="name" mdbInput type="text"/>
        <label class="form-label" for="name" mdbLabel>Name</label>
    </mdb-form-control>
    <mdb-form-control class="mb-4 form-outline">
        <input class="form-control" id="username" mdbInput type="username"/>
        <label class="form-label" for="username" mdbLabel>Username</label>
    </mdb-form-control>
    <mdb-form-control class="mb-4 form-outline">
        <input class="form-control" id="email" mdbInput type="email"/>
        <label class="form-label" for="email" mdbLabel>Email</label>
    </mdb-form-control>
    <mdb-form-control class="mb-4 form-outline">
        <input class="form-control" id="password" mdbInput type="password"/>
        <label class="form-label" for="password" mdbLabel>Password</label>
    </mdb-form-control>
    <mdb-form-control class="mb-4 form-outline">
        <input class="form-control" id="repeat-password" mdbInput type="password"/>
        <label class="form-label" for="repeat-password" mdbLabel>Repeat Password</label>
    </mdb-form-control>
    <div class="form-check d-flex justify-content-center mb-4"><input
        aria-describedby="registerCheckHelpText" checked=""
        class="form-check-input me-2" id="registerCheck"
        mdbcheckbox="" type="checkbox"
        value="">
        <label class="form-check-label" for="registerCheck">
            I have read and agree to the terms
        </label>
    </div>
    <button class="btn btn-primary btn-block mb-3" disabled type="submit">
        Register
    </button>
</form>
