<!-- Footer -->
<!-- Section: Social media -->
<footer class="text-center text-lg-start bg-light text-muted">
    <!--    <section-->
    <!--        class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"-->
    <!--    >-->
    <!--        &lt;!&ndash; Left &ndash;&gt;-->
    <!--        <div class="me-5 d-none d-lg-block">-->
    <!--            <span>Get connected with us on social networks:</span>-->
    <!--        </div>-->
    <!--        &lt;!&ndash; Left &ndash;&gt;-->

    <!--        &lt;!&ndash; Right &ndash;&gt;-->
    <!--        <div>-->
    <!--            <a class="me-4 text-reset" href="">-->
    <!--                <i class="fab fa-facebook-f"></i>-->
    <!--            </a>-->
    <!--            <a class="me-4 text-reset" href="">-->
    <!--                <i class="fab fa-twitter"></i>-->
    <!--            </a>-->
    <!--            <a class="me-4 text-reset" href="">-->
    <!--                <i class="fab fa-google"></i>-->
    <!--            </a>-->
    <!--            <a class="me-4 text-reset" href="">-->
    <!--                <i class="fab fa-instagram"></i>-->
    <!--            </a>-->
    <!--            <a class="me-4 text-reset" href="">-->
    <!--                <i class="fab fa-linkedin"></i>-->
    <!--            </a>-->
    <!--            <a class="me-4 text-reset" href="">-->
    <!--                <i class="fab fa-github"></i>-->
    <!--            </a>-->
    <!--        </div>-->
    <!--        &lt;!&ndash; Right &ndash;&gt;-->
    <!--    </section>-->
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Yu-Gi-Oh! Draft Cube
                    </h6>
                    <p>
                        Help us keep Yu-Gi-Oh! Draft Cube online by supporting us on <a href="https://www.patreon.com/">Patreon</a>!
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <div class="">
                        <h6 class="text-uppercase fw-bold mb-4">
                            Site Links
                        </h6>
                        <p class="">
                            <i class="fas fa-ankh me-3"></i><a routerLink="/about-us">About Us</a>
                        </p>
                        <p class="">
                            <i class="fas fa-ankh me-3"></i><a routerLink="/how-to">
                            How To Use
                        </a>
                        </p>
                    </div>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2021 Copyright:
        <a class="text-reset fw-bold" href="https://ygodraftcube.com/">YGO Draft Cube</a>
    </div>
    <!-- Copyright -->

    <!-- Footer -->
</footer>
