<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">Yu-Gi-Oh! Draft Cube</a>
        <button
            (click)="basicNav.toggle()"
            aria-expanded="false"
            aria-label="Toggle navigation"
            class="navbar-toggler"
            type="button"
        >
            <i class="fas fa-bars"></i>
        </button>
        <div
            #basicNav="mdbCollapse"
            class="collapse navbar-collapse justify-content-between"
            id="navbarNav"
            mdbCollapse
        >
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a aria-current="page" class="nav-link " routerLink="/draft-room" routerLinkActive="active">
                        Draft Room
                    </a>
                </li>
            </ul>
            <div class="d-flex align-items-center justify-content-end">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/login-register" routerLinkActive="active">
                            Sign In/Register

                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
