<div *ngIf="cube; else errorLoadingCubeInfo" class="card">
    <!--    <div class="bg-image hover-overlay ripple">-->
    <!--        <img [src]="cube.image" class="img-fluid"/>-->
    <!--        <a [routerLink]="['/cubes',cube.id]">-->
    <!--            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>-->
    <!--        </a>-->
    <!--    </div>-->

    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
        <img [src]="cube.coverImage | coverImageUrl" class="img-fluid" style="width: 100%"/>
    </div>
    <div class="card-body">
        <h1 class="card-title">{{cube.name}}</h1>
        <div class="card-text" *ngIf="cube.cards">
            <div class="mb-4">
                <app-cube-tags-list [tags]="cube.tags"></app-cube-tags-list>
            </div>
            <p>{{cube.description | limitTo : 400}}</p>
            <p *ngIf="cube.cards">
                <span style="fontWeight: bold">Includes:</span>
                {{cube.cards | raritySort | cardNames | removeDups |  toCsv : ', '| limitTo :200}}
            </p>
            <p>
                <span style="fontWeight: bold">Number of Cards: </span> {{cube.cards.length}}
                <span *ngIf="(cube.cards | cardNames | removeDups).length === cube.cards.length">
                    (Singleton)
                </span>
                <span *ngIf="(cube.cards | cardNames | removeDups).length !== cube.cards.length">
                    ({{(cube.cards | cardNames | removeDups).length}} uniques)
                </span>
            </p>
            <p>
                <span
                    [ngStyle]="{'fontWeight': 'bold'}">Ideal Number of Players:
                </span> {{cube.idealNumberOfPlayers}}
            </p>
        </div>

    </div>
    <div class="btn-group mt-4 d-flex">
        <a [routerLink]="['/cubes',cube.id]" class="btn btn-primary">Open</a>
        <a [routerLink]="['/cubes',cube.id, 'draft']" class="btn btn-secondary">Start Drafting</a>
    </div>
</div>

<ng-template #errorLoadingCubeInfo>
    <div class="card">
        <div class="card-body">
            <p class="card-text">Error loading cube information</p>
        </div>
    </div>
</ng-template>

