<div class="p-5 text-center bg-image panel">
    <div class="d-flex flex-column justify-content-center align-items-center text-white container">
        <h1 class="mb-3">Yu-Gi-Oh! Draft Cube Simulator</h1>
        <h4 class="">
            Welcome to Yu-Gi-Oh! Draft Cube Simulator, a place where you and friends can draft and build a deck
            from a curated prebuilt cube of cards or sealed packs. Drafted decks can be exported as a .ydk and
            imported into
            <a routerLink="/how-to#DuelingBook">DuelingBook</a>,
            <a routerLink="/how-to#EdoPro">EdoPro</a>,
            <a routerLink="/how-to#DuelingNexus">Dueling Nexus</a>, etc.

            <span>No sign up is required to start drafting, but sign in or sign up to create your cubes and star your favorite cubes for next time.</span>
        </h4>
    </div>
</div>
