<app-jumbotron></app-jumbotron>

<main *ngIf="(this.activatedRoute.data | async)?.['data'] as data; else loading">
    <app-room-in-progress-alert *ngIf="this.draftRoomService.room$ | async as room"
                                [id]="room.id"></app-room-in-progress-alert>

    <app-cube
        [battlePackCubes]="(data | as: HomePageResolverData).battlePackCubes"
        [duelNightCubes]="(data | as: HomePageResolverData).duelNightCubes"
        [popularCubes]="(data | as: HomePageResolverData).popularCubes"
        [frontPageCubes]="(data | as: HomePageResolverData).frontPageCubes"
    ></app-cube>

    <app-footer></app-footer>
</main>

<ng-template #loading>
    Loading...
</ng-template>
