<main class="container" *ngIf="(this.activatedRoute.data | async)?.['data'] as data; else loading">
    <div *ngIf="(data | as: CubeInformationResolverData).cube as cube; else noCubeFound">
        <div class="card text-center">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img [src]="cube.coverImage | coverImageUrl" class="img-fluid"
                     style="height: 500px; width: 100%; object-fit: cover;"/>
            </div>
            <h1 class="card-header">{{cube.name}}</h1>
            <div class="card-title mb-4">
                <a [routerLink]="['/public-profile', cube.author.id]">{{cube.author.name}}</a> |
                <span>{{cube.createdOn | date}}</span>
            </div>
            <h5 class="card-text mb-4">
                <app-cube-tags-list [tags]="cube.tags" class="justify-content-center d-flex"></app-cube-tags-list>
            </h5>

            <p class="card-text">
                {{cube.description}}
            </p>
            <div class="card-footer  row g-0">
                <span class="col-12 col-md-6 col-lg-3"><span
                    style="font-weight: bold">Number of Rounds</span>: {{cube.numberOfRounds}}</span>
                <span class="col-12 col-md-6 col-lg-3"><span
                    style="font-weight: bold">Packs per Round</span>: {{cube.packPerRound}}</span>
                <span class="col-12 col-md-6 col-lg-3"><span
                    style="font-weight: bold">Cards per Pack</span>: {{cube.cardPerPack}}</span>
                <span class="col-12 col-md-6 col-lg-3">
                    <span
                        style="font-weight: bold">Ideal/Maximum Number of Players</span>: {{cube.idealNumberOfPlayers | number: '1.0-0'}}
                    /{{cube.maxNumberOfPlayers | number: '1.0-0'}}
                </span>
            </div>
            <div class="card-footer row g-0">
                <span class="row">
                    <span class="col-12"><h5>Rarity per pack</h5></span>
                    <span class="col-12 col-md-6 "><b>Commons: </b>{{cube.rarityBreakdown.common}}/pack</span>
                    <span class="col-12 col-md-6 "><b>Rares: </b>{{cube.rarityBreakdown.rare}}/pack</span>
                </span>
            </div>
            <div class="card-footer row g-0">
                <span class="row">
                    <span class="col-12"><h5>Rarity per round/draft <span class="text-muted">(replaces a common)</span></h5></span>
                    <span class="col-12 col-md-4"><b>Super Rares: </b>{{cube.rarityBreakdown.superRare}}/round</span>
                    <span class="col-12 col-md-4"><b>Ultra Rares: </b>{{cube.rarityBreakdown.ultraRare}}/round</span>
                    <span class="col-12 col-md-4">
                        <b>Ultimate Rares: </b>{{cube.rarityBreakdown.ultimateRare}}/draft
                    </span>
                </span>
            </div>
            <a class="btn btn-secondary" [routerLink]="['/cubes', cube.id, 'draft']">Start Drafting</a>
        </div>
        <div class=" g-0 card flex-row mb-4">

        </div>
        <div>
            <h2>Contents ({{cube.cards.length}} cards):</h2>
            <mat-accordion class="example-headers-align" multi>
                <app-rarity-expansion-panel [cube]="cube" rarityKey="ULTIMATE_RARE" rarityLabel="Ultimate Rare">
                </app-rarity-expansion-panel>
                <app-rarity-expansion-panel [cube]="cube" rarityKey="ULTRA_RARE" rarityLabel="Ultra Rare">
                </app-rarity-expansion-panel>
                <app-rarity-expansion-panel [cube]="cube" rarityKey="SUPER_RARE" rarityLabel="Super Rare">
                </app-rarity-expansion-panel>
                <app-rarity-expansion-panel [cube]="cube" rarityKey="RARE" rarityLabel="Rare">
                </app-rarity-expansion-panel>
                <app-rarity-expansion-panel [cube]="cube" rarityKey="COMMON" rarityLabel="Common">
                </app-rarity-expansion-panel>

            </mat-accordion>
        </div>
    </div>
</main>

<ng-template #noCubeFound>
    There was an error finding this cube, please refresh!
</ng-template>

<ng-template #loading>
    Loading...
</ng-template>
