<main class="container">
    <p>
        To see how to import decks, scroll down to your preferred simulator or click on them here:
        <a routerLink="./" fragment="Dueling Book">Dueling Book</a>,
        <a routerLink="./" fragment="EdoPro">EdoPro</a>,
        <a routerLink="./" fragment="Dueling Nexus">Dueling Nexus</a>,
        <a routerLink="./" fragment="YGO Omega">YGO Omega</a>.
    </p>
    <p>
        Bitters lumbersexual aliquip lo-fi non humblebrag letterpress franzen normcore narwhal cronut consequat cray
        craft beer. Authentic hella mlkshk kinfolk, prism 90's in sartorial keytar snackwave lumbersexual lorem.
        Cardigan portland migas austin. DIY tumblr pitchfork, ut mollit aute tbh. Next level poke biodiesel
        gastropub.

        Commodo aliqua kinfolk lomo artisan excepteur art party pop-up eu jean shorts enamel pin. Culpa salvia kogi
        excepteur man bun hoodie dolore try-hard vinyl nulla. Normcore cliche esse echo park meh mlkshk dolor.
        Tumeric laboris lo-fi nisi, tacos truffaut master cleanse single-origin coffee. Umami mixtape letterpress
        cornhole aesthetic schlitz pok pok trust fund. Post-ironic messenger bag lyft, asymmetrical tilde fashion
        axe pinterest pickled neutra slow-carb single-origin coffee. Truffaut street art tousled, small batch in eu
        humblebrag man braid tote bag helvetica.

        Etsy cornhole ex typewriter. Shabby chic anim voluptate taiyaki laborum, messenger bag exercitation master
        cleanse neutra 8-bit celiac scenester. Ad bushwick iceland, meh kitsch enamel pin skateboard. Jean shorts
        banjo scenester, chia waistcoat cillum semiotics dreamcatcher proident polaroid tilde cloud bread tofu.
    </p>


    <div id="Dueling Book">
        <h1>Dueling Book</h1>
        <p>
            I'm baby cray echo park pork belly, deep v beard tousled pok pok meh. Tofu culpa etsy squid, humblebrag
            consequat polaroid. Thundercats ipsum locavore, chartreuse farm-to-table adipisicing tofu XOXO ut hell of
            migas proident. Ad humblebrag qui man bun taiyaki squid mumblecore. Consequat anim meditation next level
            aute nisi. Cronut nulla sed, 3 wolf moon aesthetic aliqua hexagon selvage knausgaard crucifix.

            Bitters lumbersexual aliquip lo-fi non humblebrag letterpress franzen normcore narwhal cronut consequat cray
            craft beer. Authentic hella mlkshk kinfolk, prism 90's in sartorial keytar snackwave lumbersexual lorem.
            Cardigan portland migas austin. DIY tumblr pitchfork, ut mollit aute tbh. Next level poke biodiesel
            gastropub.

            Commodo aliqua kinfolk lomo artisan excepteur art party pop-up eu jean shorts enamel pin. Culpa salvia kogi
            excepteur man bun hoodie dolore try-hard vinyl nulla. Normcore cliche esse echo park meh mlkshk dolor.
            Tumeric laboris lo-fi nisi, tacos truffaut master cleanse single-origin coffee. Umami mixtape letterpress
            cornhole aesthetic schlitz pok pok trust fund. Post-ironic messenger bag lyft, asymmetrical tilde fashion
            axe pinterest pickled neutra slow-carb single-origin coffee. Truffaut street art tousled, small batch in eu
            humblebrag man braid tote bag helvetica.

            Etsy cornhole ex typewriter. Shabby chic anim voluptate taiyaki laborum, messenger bag exercitation master
            cleanse neutra 8-bit celiac scenester. Ad bushwick iceland, meh kitsch enamel pin skateboard. Jean shorts
            banjo scenester, chia waistcoat cillum semiotics dreamcatcher proident polaroid tilde cloud bread tofu.

            Fashion axe photo booth knausgaard sunt. Sed organic tofu viral copper mug ea post-ironic truffaut minim.
            Irony hot chicken mustache raclette, salvia consectetur lo-fi. Af narwhal swag mixtape iceland seitan vegan.
            Keffiyeh thundercats activated charcoal yr godard single-origin coffee velit umami qui adaptogen hot chicken
            bespoke. Asymmetrical kitsch squid, iceland helvetica sint tempor pork belly.

            Keytar mlkshk yuccie, literally biodiesel pour-over minim normcore id banjo actually in taiyaki lyft
            glossier. Vape art party succulents ethical, officia poke mollit put a bird on it literally drinking vinegar
            semiotics. La croix microdosing pitchfork cornhole bespoke kitsch. Enim street art ipsum, mollit tumeric
            cupidatat ramps hella pour-over hot chicken officia. Consequat vaporware quis occupy man braid ut labore.
            Whatever post-ironic cronut, ethical messenger bag VHS meh vape listicle ut shaman readymade enim
            cold-pressed.

            Jean shorts chambray tumblr fixie sustainable thundercats. Pitchfork hell of stumptown fashion axe glossier.
            Offal letterpress fam raw denim ramps unicorn meh. Hammock paleo tattooed, enamel pin etsy food truck
            mustache chambray retro celiac skateboard pinterest proident. Pork belly anim tilde hot chicken, est
            bushwick semiotics paleo man bun.

            Consectetur fanny pack tumblr eu, food truck unicorn tote bag leggings hoodie occupy twee. Hot chicken
            iPhone listicle, sartorial slow-carb offal in sed distillery kitsch retro direct trade godard 8-bit culpa.
            Umami hot chicken bespoke church-key beard. Pour-over irure hashtag, id tofu dolor duis labore edison bulb
            meggings iPhone.

            Kale chips farm-to-table fixie plaid migas taiyaki. Cray shoreditch food truck ethical cillum. Swag proident
            pabst, selfies gastropub yuccie vaporware occaecat pug in ullamco mustache snackwave ugh semiotics. DIY
            crucifix plaid cupidatat. Salvia occupy you probably haven't heard of them adipisicing, exercitation laborum
            XOXO selvage ennui mollit excepteur DIY quinoa enamel pin. Dolore crucifix slow-carb ut deserunt coloring
            book next level edison bulb pork belly narwhal aute brooklyn meggings.

            Blog keytar cray ennui pabst, pickled umami tacos. Try-hard est nostrud semiotics, tofu shaman taiyaki roof
            party bespoke. Woke velit cronut in. Palo santo slow-carb master cleanse, heirloom tacos nisi locavore
            sriracha.
        </p>
    </div>
    <div id="EdoPro">
        <h1>EdoPro</h1>
        <p>
            I'm baby cray echo park pork belly, deep v beard tousled pok pok meh. Tofu culpa etsy squid, humblebrag
            consequat polaroid. Thundercats ipsum locavore, chartreuse farm-to-table adipisicing tofu XOXO ut hell of
            migas proident. Ad humblebrag qui man bun taiyaki squid mumblecore. Consequat anim meditation next level
            aute nisi. Cronut nulla sed, 3 wolf moon aesthetic aliqua hexagon selvage knausgaard crucifix.

            Bitters lumbersexual aliquip lo-fi non humblebrag letterpress franzen normcore narwhal cronut consequat cray
            craft beer. Authentic hella mlkshk kinfolk, prism 90's in sartorial keytar snackwave lumbersexual lorem.
            Cardigan portland migas austin. DIY tumblr pitchfork, ut mollit aute tbh. Next level poke biodiesel
            gastropub.

            Commodo aliqua kinfolk lomo artisan excepteur art party pop-up eu jean shorts enamel pin. Culpa salvia kogi
            excepteur man bun hoodie dolore try-hard vinyl nulla. Normcore cliche esse echo park meh mlkshk dolor.
            Tumeric laboris lo-fi nisi, tacos truffaut master cleanse single-origin coffee. Umami mixtape letterpress
            cornhole aesthetic schlitz pok pok trust fund. Post-ironic messenger bag lyft, asymmetrical tilde fashion
            axe pinterest pickled neutra slow-carb single-origin coffee. Truffaut street art tousled, small batch in eu
            humblebrag man braid tote bag helvetica.

            Etsy cornhole ex typewriter. Shabby chic anim voluptate taiyaki laborum, messenger bag exercitation master
            cleanse neutra 8-bit celiac scenester. Ad bushwick iceland, meh kitsch enamel pin skateboard. Jean shorts
            banjo scenester, chia waistcoat cillum semiotics dreamcatcher proident polaroid tilde cloud bread tofu.

            Fashion axe photo booth knausgaard sunt. Sed organic tofu viral copper mug ea post-ironic truffaut minim.
            Irony hot chicken mustache raclette, salvia consectetur lo-fi. Af narwhal swag mixtape iceland seitan vegan.
            Keffiyeh thundercats activated charcoal yr godard single-origin coffee velit umami qui adaptogen hot chicken
            bespoke. Asymmetrical kitsch squid, iceland helvetica sint tempor pork belly.

            Keytar mlkshk yuccie, literally biodiesel pour-over minim normcore id banjo actually in taiyaki lyft
            glossier. Vape art party succulents ethical, officia poke mollit put a bird on it literally drinking vinegar
            semiotics. La croix microdosing pitchfork cornhole bespoke kitsch. Enim street art ipsum, mollit tumeric
            cupidatat ramps hella pour-over hot chicken officia. Consequat vaporware quis occupy man braid ut labore.
            Whatever post-ironic cronut, ethical messenger bag VHS meh vape listicle ut shaman readymade enim
            cold-pressed.

            Jean shorts chambray tumblr fixie sustainable thundercats. Pitchfork hell of stumptown fashion axe glossier.
            Offal letterpress fam raw denim ramps unicorn meh. Hammock paleo tattooed, enamel pin etsy food truck
            mustache chambray retro celiac skateboard pinterest proident. Pork belly anim tilde hot chicken, est
            bushwick semiotics paleo man bun.

            Consectetur fanny pack tumblr eu, food truck unicorn tote bag leggings hoodie occupy twee. Hot chicken
            iPhone listicle, sartorial slow-carb offal in sed distillery kitsch retro direct trade godard 8-bit culpa.
            Umami hot chicken bespoke church-key beard. Pour-over irure hashtag, id tofu dolor duis labore edison bulb
            meggings iPhone.

            Kale chips farm-to-table fixie plaid migas taiyaki. Cray shoreditch food truck ethical cillum. Swag proident
            pabst, selfies gastropub yuccie vaporware occaecat pug in ullamco mustache snackwave ugh semiotics. DIY
            crucifix plaid cupidatat. Salvia occupy you probably haven't heard of them adipisicing, exercitation laborum
            XOXO selvage ennui mollit excepteur DIY quinoa enamel pin. Dolore crucifix slow-carb ut deserunt coloring
            book next level edison bulb pork belly narwhal aute brooklyn meggings.

            Blog keytar cray ennui pabst, pickled umami tacos. Try-hard est nostrud semiotics, tofu shaman taiyaki roof
            party bespoke. Woke velit cronut in. Palo santo slow-carb master cleanse, heirloom tacos nisi locavore
            sriracha.
        </p>
    </div>
    <div id="Dueling Nexus">
        <h1>Dueling Nexus</h1>
        <p>
            I'm baby cray echo park pork belly, deep v beard tousled pok pok meh. Tofu culpa etsy squid, humblebrag
            consequat polaroid. Thundercats ipsum locavore, chartreuse farm-to-table adipisicing tofu XOXO ut hell of
            migas proident. Ad humblebrag qui man bun taiyaki squid mumblecore. Consequat anim meditation next level
            aute nisi. Cronut nulla sed, 3 wolf moon aesthetic aliqua hexagon selvage knausgaard crucifix.

            Bitters lumbersexual aliquip lo-fi non humblebrag letterpress franzen normcore narwhal cronut consequat cray
            craft beer. Authentic hella mlkshk kinfolk, prism 90's in sartorial keytar snackwave lumbersexual lorem.
            Cardigan portland migas austin. DIY tumblr pitchfork, ut mollit aute tbh. Next level poke biodiesel
            gastropub.

            Commodo aliqua kinfolk lomo artisan excepteur art party pop-up eu jean shorts enamel pin. Culpa salvia kogi
            excepteur man bun hoodie dolore try-hard vinyl nulla. Normcore cliche esse echo park meh mlkshk dolor.
            Tumeric laboris lo-fi nisi, tacos truffaut master cleanse single-origin coffee. Umami mixtape letterpress
            cornhole aesthetic schlitz pok pok trust fund. Post-ironic messenger bag lyft, asymmetrical tilde fashion
            axe pinterest pickled neutra slow-carb single-origin coffee. Truffaut street art tousled, small batch in eu
            humblebrag man braid tote bag helvetica.

            Etsy cornhole ex typewriter. Shabby chic anim voluptate taiyaki laborum, messenger bag exercitation master
            cleanse neutra 8-bit celiac scenester. Ad bushwick iceland, meh kitsch enamel pin skateboard. Jean shorts
            banjo scenester, chia waistcoat cillum semiotics dreamcatcher proident polaroid tilde cloud bread tofu.

            Fashion axe photo booth knausgaard sunt. Sed organic tofu viral copper mug ea post-ironic truffaut minim.
            Irony hot chicken mustache raclette, salvia consectetur lo-fi. Af narwhal swag mixtape iceland seitan vegan.
            Keffiyeh thundercats activated charcoal yr godard single-origin coffee velit umami qui adaptogen hot chicken
            bespoke. Asymmetrical kitsch squid, iceland helvetica sint tempor pork belly.

            Keytar mlkshk yuccie, literally biodiesel pour-over minim normcore id banjo actually in taiyaki lyft
            glossier. Vape art party succulents ethical, officia poke mollit put a bird on it literally drinking vinegar
            semiotics. La croix microdosing pitchfork cornhole bespoke kitsch. Enim street art ipsum, mollit tumeric
            cupidatat ramps hella pour-over hot chicken officia. Consequat vaporware quis occupy man braid ut labore.
            Whatever post-ironic cronut, ethical messenger bag VHS meh vape listicle ut shaman readymade enim
            cold-pressed.

            Jean shorts chambray tumblr fixie sustainable thundercats. Pitchfork hell of stumptown fashion axe glossier.
            Offal letterpress fam raw denim ramps unicorn meh. Hammock paleo tattooed, enamel pin etsy food truck
            mustache chambray retro celiac skateboard pinterest proident. Pork belly anim tilde hot chicken, est
            bushwick semiotics paleo man bun.

            Consectetur fanny pack tumblr eu, food truck unicorn tote bag leggings hoodie occupy twee. Hot chicken
            iPhone listicle, sartorial slow-carb offal in sed distillery kitsch retro direct trade godard 8-bit culpa.
            Umami hot chicken bespoke church-key beard. Pour-over irure hashtag, id tofu dolor duis labore edison bulb
            meggings iPhone.

            Kale chips farm-to-table fixie plaid migas taiyaki. Cray shoreditch food truck ethical cillum. Swag proident
            pabst, selfies gastropub yuccie vaporware occaecat pug in ullamco mustache snackwave ugh semiotics. DIY
            crucifix plaid cupidatat. Salvia occupy you probably haven't heard of them adipisicing, exercitation laborum
            XOXO selvage ennui mollit excepteur DIY quinoa enamel pin. Dolore crucifix slow-carb ut deserunt coloring
            book next level edison bulb pork belly narwhal aute brooklyn meggings.

            Blog keytar cray ennui pabst, pickled umami tacos. Try-hard est nostrud semiotics, tofu shaman taiyaki roof
            party bespoke. Woke velit cronut in. Palo santo slow-carb master cleanse, heirloom tacos nisi locavore
            sriracha.
        </p>
    </div>
    <div id="YGO Omega">
        <h1>YGO Omega</h1>
        <p>
            I'm baby cray echo park pork belly, deep v beard tousled pok pok meh. Tofu culpa etsy squid, humblebrag
            consequat polaroid. Thundercats ipsum locavore, chartreuse farm-to-table adipisicing tofu XOXO ut hell of
            migas proident. Ad humblebrag qui man bun taiyaki squid mumblecore. Consequat anim meditation next level
            aute nisi. Cronut nulla sed, 3 wolf moon aesthetic aliqua hexagon selvage knausgaard crucifix.

            Bitters lumbersexual aliquip lo-fi non humblebrag letterpress franzen normcore narwhal cronut consequat cray
            craft beer. Authentic hella mlkshk kinfolk, prism 90's in sartorial keytar snackwave lumbersexual lorem.
            Cardigan portland migas austin. DIY tumblr pitchfork, ut mollit aute tbh. Next level poke biodiesel
            gastropub.

            Commodo aliqua kinfolk lomo artisan excepteur art party pop-up eu jean shorts enamel pin. Culpa salvia kogi
            excepteur man bun hoodie dolore try-hard vinyl nulla. Normcore cliche esse echo park meh mlkshk dolor.
            Tumeric laboris lo-fi nisi, tacos truffaut master cleanse single-origin coffee. Umami mixtape letterpress
            cornhole aesthetic schlitz pok pok trust fund. Post-ironic messenger bag lyft, asymmetrical tilde fashion
            axe pinterest pickled neutra slow-carb single-origin coffee. Truffaut street art tousled, small batch in eu
            humblebrag man braid tote bag helvetica.

            Etsy cornhole ex typewriter. Shabby chic anim voluptate taiyaki laborum, messenger bag exercitation master
            cleanse neutra 8-bit celiac scenester. Ad bushwick iceland, meh kitsch enamel pin skateboard. Jean shorts
            banjo scenester, chia waistcoat cillum semiotics dreamcatcher proident polaroid tilde cloud bread tofu.

            Fashion axe photo booth knausgaard sunt. Sed organic tofu viral copper mug ea post-ironic truffaut minim.
            Irony hot chicken mustache raclette, salvia consectetur lo-fi. Af narwhal swag mixtape iceland seitan vegan.
            Keffiyeh thundercats activated charcoal yr godard single-origin coffee velit umami qui adaptogen hot chicken
            bespoke. Asymmetrical kitsch squid, iceland helvetica sint tempor pork belly.

            Keytar mlkshk yuccie, literally biodiesel pour-over minim normcore id banjo actually in taiyaki lyft
            glossier. Vape art party succulents ethical, officia poke mollit put a bird on it literally drinking vinegar
            semiotics. La croix microdosing pitchfork cornhole bespoke kitsch. Enim street art ipsum, mollit tumeric
            cupidatat ramps hella pour-over hot chicken officia. Consequat vaporware quis occupy man braid ut labore.
            Whatever post-ironic cronut, ethical messenger bag VHS meh vape listicle ut shaman readymade enim
            cold-pressed.

            Jean shorts chambray tumblr fixie sustainable thundercats. Pitchfork hell of stumptown fashion axe glossier.
            Offal letterpress fam raw denim ramps unicorn meh. Hammock paleo tattooed, enamel pin etsy food truck
            mustache chambray retro celiac skateboard pinterest proident. Pork belly anim tilde hot chicken, est
            bushwick semiotics paleo man bun.

            Consectetur fanny pack tumblr eu, food truck unicorn tote bag leggings hoodie occupy twee. Hot chicken
            iPhone listicle, sartorial slow-carb offal in sed distillery kitsch retro direct trade godard 8-bit culpa.
            Umami hot chicken bespoke church-key beard. Pour-over irure hashtag, id tofu dolor duis labore edison bulb
            meggings iPhone.

            Kale chips farm-to-table fixie plaid migas taiyaki. Cray shoreditch food truck ethical cillum. Swag proident
            pabst, selfies gastropub yuccie vaporware occaecat pug in ullamco mustache snackwave ugh semiotics. DIY
            crucifix plaid cupidatat. Salvia occupy you probably haven't heard of them adipisicing, exercitation laborum
            XOXO selvage ennui mollit excepteur DIY quinoa enamel pin. Dolore crucifix slow-carb ut deserunt coloring
            book next level edison bulb pork belly narwhal aute brooklyn meggings.

            Blog keytar cray ennui pabst, pickled umami tacos. Try-hard est nostrud semiotics, tofu shaman taiyaki roof
            party bespoke. Woke velit cronut in. Palo santo slow-carb master cleanse, heirloom tacos nisi locavore
            sriracha.
        </p>
    </div>
</main>
