<main class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body p-4">
                    <mdb-tabs fill="">
                        <mdb-tab title="Sign In">
                            <app-login></app-login>
                        </mdb-tab>
                        <mdb-tab title="Register">
                            <app-register></app-register>
                        </mdb-tab>
                    </mdb-tabs>
                </div>
            </div>
        </div>
    </div>
</main>
